{% extends 'main_panel/layout.html' %}

{% block content %}
	{% load static %}
	
	<link rel="stylesheet" type="text/css" href="{% static "main_panel/css/switch.css" %}">
	<div class="container body-content">
		<p></p>

		<div class="row">        
		    <a href="" class="btn btn-success "><span class="glyphicon glyphicon-download-alt"></span> Download android app</a>
		</div><br>

        <form action="/wienerberger/send_message/" method="POST">
            {% csrf_token %}
            <h3>Send message</h3>
            <textarea width="250" name="message" class="form-control" rows="4" style="resize: none">

            </textarea>
            <input type="submit" class="btn btn-primary form-control" value="Send"/>

        </form>

        <hr>

		<table id="users" class="table table-hover table-striped ">
                <thead>
                  <tr id="select-all-tr">
                    <th>Id</th>
                    <th>Date</th>
                    <th>Firstname</th>
                    <th>Secondname</th>
                    <th>Email</th>
                    <th>Дозволити пересилку даних</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in wienerbergerusers %}
                    <div class="user-row" id="{{ user.id }}">
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.date }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.secondname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <label class="switch">
                                    {% if user.auth == 1 %}
                                        <input class="change-auth" type="checkbox" checked>
                                    {% else %}
                                        <input class="change-auth" type="checkbox">
                                    {% endif %}
                                  <div class="slider round"></div>
                                </label>
                            </td>
                            <td><button type="button" class="btn btn-danger remove-user"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                            </td>
                        </tr>
                    </div>
                {% endfor %}
         
            </tbody>
        </table>
	</div>

    <script type="text/javascript">
{##}
{#        function load_content(){#}
{#            var html = "";#}
{#            $.ajax({#}
{#                url: "/wienerberger/get_users/",#}
{#                type: "post",#}
{##}
{#                success: function(data){#}
{#                users = JSON.parse(data);#}
{#                $.each(users, function (i, item)#}
{#                {#}
{##}
{#                    html = html#}
{#                        +'<tr id="'+item["id"]+'">'#}
{#                            + '<td>'+item["id"]+'</td>'#}
{#                            + '<td>'+item["date"]+'</td>'#}
{#                            + '<td>'+item["firstname"]+'</td>'#}
{#                            + '<td>'+item["secondname"]+'</td>'#}
{#                            + '<td>'+item["email"]+'</td>'#}
{#                            + '<td>'#}
{#                                + '<label class="switch">';#}
{##}
{#                    if(item["auth"]==1) {#}
{#                        html = html#}
{#                            +'<input class="change-auth" type="checkbox" checked>';#}
{#                    } else {#}
{#                        html = html#}
{#                            +'<input class="change-auth" type="checkbox">';#}
{#                    }#}
{##}
{#                    html = html#}
{#                                    + '<div class="slider round"></div>'#}
{#                                + '</label>'#}
{#                            + '</td>'#}
{#                            + '<td><button type="button" class="btn btn-danger remove-user"><span class="glyphicon glyphicon-remove"></span> Remove</button>'#}
{#                            + '</td>'#}
{#                        + '</tr>';#}
{##}
{#                    $("#users").append(html);#}
{##}
{#                    $(".remove-user").click(function(){#}
{#                        var tr = $(this).parent();#}
{#                        var id = tr.attr("id");#}
{#                        $.post("/delete_user", {id: id}, function(data){#}
{#                            if (data=="success") {#}
{#                                tr.remove();#}
{#                            }#}
{#                        });#}
{#                    });#}
{##}
{#                    $(".change_auth").click(function(){#}
{#                        var checked = $(this).is(":checked");#}
{#                        var id = $(this).parent().parent().parent().attr("id");#}
{#                        var url = "";#}
{#                        if (checked){#}
{#                            url = "/deny_access";#}
{#                        } else {#}
{#                            url = "/grant_access";#}
{#                        }#}
{##}
{#                        $.post(url, {id:id}, function(data){#}
{##}
{#                        });#}
{#                    });#}
{##}
{#                });#}
{#            }#}
{#            });#}
{#        }#}
{##}
        $(document).ready(function () {
{#            load_content();#}
            $(".remove-user").click(function(){
                        var div = $(this).parent("user-row");
                        var id = div.attr("id");
                        $.post("/wienerberger/delete_user/", {id: id}, function(data){
                            if (data=="success") {
                                div.remove();
                            }
                        });
                    });

            $(".change-auth").click(function(){
                alert("WORKS");
                        var checked = $(this).is(":checked");
                        var id = $(this).parent("user-row").attr("id");
                        var url = "";
                        if (checked){
                            url = "/wienerberger/allow_access/";
                        } else {
                            url = "/wienerberger/deny_access/";
                        }

                        $.post(url, {id:id}, function(data){

                        });
                    });
        });
    </script>
	
{% endblock %}