{% extends 'main_panel/layout.html' %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "main_panel/css/switch.css" %}">
	<div class="container body-content">
		<p></p>

		<div class="row">        
		    <a href="" class="btn btn-success "><span class="glyphicon glyphicon-download-alt"></span> Download android app</a>
		</div><br>

		<table class="table table-hover table-striped ">
                <thead>
                  <tr id="select-all-tr">
                    <th>Id</th>
                    <th>Date</th>
                    <th>Firstname</th>
                    <th>Secondname</th>
                    <th>Email</th>
                    <th>Дозволити пересилку даних</th>
                  </tr>
                </thead>
                <tbody>
        
                <tr id="1">
                    <td>1</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>
                    	<label class="switch">
						  <input type="checkbox">
						  <div class="slider round"></div>
						</label>
					</td>
                    <td><button type="button" class="btn btn-danger remove-user"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </td>
                </tr>

                <tr id="2">
                    <td>2</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>Example</td>
                    <td>
                    	<label class="switch">
						  <input type="checkbox">
						  <div class="slider round"></div>
						</label>
					</td>
                    <td><button type="button" class="btn btn-danger remove-user"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </td>
                </tr>
         
            </tbody>
        </table>
	</div>
{% endblock content %}